body {
    font-family:  Arial, sans-serif;
    font-size: 14px;
    background-color: #efe9d9;
    }

img {
    max-width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    opacity: 0.9;
    border-top-right-radius: 50px; 
     border-top-left-radius: 50px; 
    border-bottom-right-radius: 50px;
     border-bottom-left-radius: 50px;
    }
.collumn{
    line-height: 30px;
    column-count: 3;
        }
.content{
    margin: 50px 100px 100px 100px;
        }
.head{     
    font-weight: bold;
    font-size: 70px;
    text-align: right;
    min-height: 100px;
    line-height: 80px;
    }
.subhead{
   font-weight: bold;
   font-size: 30px;
   padding: 2
   12px 0 12px 0;
   line-height: 50px;
   text-align: right;
    }







